# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
.ruff_cache
.coverage
.venv/

# Django
*.sqlite3
db.sqlite3
staticfiles/

# Environment
.env
*.env.local

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
